body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-size: 62.5%;
    background-color:#CCCCFF;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white;
    background: #29bde0;
    height: 60px;
}

.header-wrapper img {
    padding: 4vw;
}

.header-wrapper p {
    font-size: 30px;
    color: white;
}
.main{
    width:90%;
    margin: 10% auto;
}

.nummber{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background: white;
    font-size: 2rem;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content{
    background-color: #29bde0;
    border: 1px solid white;
    position: relative;
    height: 70vh;
    width: 50%;
    margin: 0 auto;
}
.content img {
    position: absolute;
    bottom: 0;
    height: 80%;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.content p {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* text-align: center; */
    margin: 1rem auto;
}
.footer{
    width: 80%;
    margin: 6% auto;
}

.footer input {
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
    background: #fbb435;
    color: #fff;
    position: relative;
    top: -59px;
}
