body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    font-size: 	62.5%;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin: 0;
    padding: 0;
}
a{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
@media (max-width: 450px){
    .container{
        width: 90%;
    }
}
img{
    display: inline-block;
}